* {
  margin: 0;
  padding: 0;
}

:root {
  --dark-cyan: #oe8784;
  --dark-grey-blue: #333d4b;
  --pale-orange: #fdd6ba;
  --light-cream-bg: #fefcf7;
  --grey: #83888f;
}

/* Fonts */
@font-face {
  font-family: 'Fraunces-Black';
  src: url('../fonts/Fraunces/static/Fraunces_144pt-Black.ttf');
  format: 'true-type';
}

/* Base Styles */
h1 {
  font-family: 'Fraunces-Black';
  font-size: 4.5rem;
  line-height: 4.5rem;
}

h2 {
  font-family: 'Fraunces-Black';
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-family: 'Fraunces-Black';
  font-size: 2rem;
  line-height: 2.25rem;
}

h4 {
  font-family: 'Fraunces-Black';
  font-size: 1.5rem;
  line-height: 2 rem;
}

p {
  font-family: 'Barlow-Regular';
  font-size: 1rem;
  line-height: 1.625rem;
}

.main-nav-list a {
  font-family: 'Barlow-Bold';
  font-size: 0.75rem;
  line-height: 0.9375rem;
  letter-spacing: 1;
}
